<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <%- include('partials/header', {title: title}) %>
  <a href="/pc_component/<%= component_url %>/new">New</a>
  <%- include('partials/filter_bar', {filterBar: filterBar, component_url: component_url, query: query, transformString: transformString}) %>
  <% component.forEach(item => { %>
    <%- include('partials/category_item', {item: item, component_url: component_url, transformString: transformString}) %>
  <% }); %>
  <a href="/">Back</a>
  <%- include('partials/footer') %>
</body>
</html>