<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title: title, stylesheet: 'index'}) %>
<body>
  <div class="container">
    <%- include('partials/header', {title: title}) %>
    <div class="links-container">
      <% categories.forEach(category => { %>
        <a href="pc_component/<%= category.url %>"><%= category.name %></a>
      <% }) %>
    </div>
    <%- include('partials/footer') %>
  </div>
</body>
</html>