<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <%- include('partials/header', {title: title}) %>
  <% for (const obj in product) { %>
    <p><%= obj.charAt(0).toUpperCase() + obj.slice(1).replace(/_/g, ' ') %>: <%= product[obj] %></p>
  <% } %>
  <a href="/pc_component/<%= component_url %>">Back</a>
  <%- include('partials/footer') %>
</body>
</html>