<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <%- include('partials/header', {title: title}) %>
  <% for (const obj in product) { %>
    <% if (obj != 'id') { %>
      <p><%= transformString(obj) %>: <%= product[obj] %></p>
    <% } %>
  <% } %>
  <form action="/pc_component/<%= component_url %>/<%= product.id %>/delete" method="post">
    <button type="submit">Delete</button>
  </form>
  <a href="/pc_component/<%= component_url %>/<%= product.id %>/update">Update</a>
  <a href="/pc_component/<%= component_url %>">Back</a>
  <%- include('partials/footer') %>
</body>
</html>